<%= render 'partial/navbar' %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>

<a class="btn btn-social-icon btn-lg btn-facebook"style="margin:auto; display:block; margin-bottom:100px; margin-top:10%; width:130px;"><i class="fa fa-facebook" style="height:100px; width:100px; font-size:100px;"></i></a>



    <%= link_to 'Sign in with Facebook',omniauth_authorize_path(resource_name, provider) ,class:"btn btn-block btn-social btn-lg btn-facebook", style:"width:220px; margin:auto; display:block;"%><br />
  <% end -%>
<% end -%>


