<div class="col-xs-12" style="width:100%;"></div>
<!-- Search Form -->
<%= search_form_for @search, url: search_path do |f| %>
 
  <div class="filter">

    <!-- 職種 -->
    <div class="row filter-section row-space-4">

    <div class="col-xs-10 col-md-11" style="padding-right: 0px ">
            <%= f.select :genre_eq_any, [["IT","IT"], ["コンサルタント","コンサルタント"], ["営業","営業"]], {:include_blank=>"得意な分野から再検索",:selected => session[:genre_eq_any]},{required: 'true', autofocus: 'true', class: 'form-control'} %>
          </div>
    
    <!-- Submitボタン -->
    <div class="col-xs-2  col-md-1 row filter-section ">
        <%= f.submit "再検索", class: "btn btn-danger" %>
    </div>    
  </div>
  </div>
<% end %>