<%= render 'partial/navbar' %>

<h2 class="section-heading" style="text-align:center;"><br>ご利用の流れ<br></h2>

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br>１　Stufunをご利用いただきありがとうございます。こちらではどのように動画を掲載して企業にスカウトされるかまでのフローを説明させていただきます。動画を掲載する学生をスカウトする企業の担当者様もお読みください。<br><br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/1.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">


<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２　まずは上の三本線のボタンを押してアカウント作成のボタンを押してください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/2.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">




<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>３　アカウント作成のボタンを押すとこちらの画面が出てくるので、Facebookでサインインをお願いします。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/3.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>４　サインインできれば、こちらの画面が出てきます。早速動画を掲載していきましょう。<br><br><a href="#movie" style="font-size:15px;">動画を掲載する学生をスカウトする企業の担当者様はこちらから説明をお読みください。</a><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/4.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>５　再度三本線のボタンを押すと、Facebook認証から得られたFacebookアカウントのユーザー名とユーザーの写真が出てきます。また、動画を投稿するのボタンが現れます。早速このボタンを押してみましょう。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/5.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>６　事前登録基本データというものが現れました。こちらは、動画をアップロードする前に投稿する動画のタイトルと内容を入力する画面になります。後ほど編集変更はできますが、ひとまず入力してSaveボタンを押してください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/6.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>７　Saveボタンを押すと、こちらの画面に遷移します。他の項目を編集するのボタンを押してください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/7.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>８　こちらの４つの項目を編集すると、あなたの動画が世界に公開されます。日本中の企業の方からスカウトがきます。楽しみにして編集していきましょう。（住所情報は、市町村区までで大丈夫です）<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/8.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>９　動画のボタンを押すと、こちらの画面が出てきます。ファイルの選択のボタンを押して、mp4で終わるファイルの動画をアップロードしてください。Wifi環境下でもアップロードに少々お時間がかかります。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/9.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１０　アップロードが完了するとこちらの画面が現れます。こちらの画像をクリックすると、アップロードした動画の確認ができます。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/10.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">


<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１１　他の項目を編集するのボタンから、写真も同じ要領でアップロードします。png,jpg,jpeg,gifのいずれかで終わるファイルの画像をアップロードしてください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/11.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１２　他の項目を編集するのボタンから、基本情報、職種、住所情報、動画、写真の項目を編集し終わると、いよいよ公開です。公開するのボタンを押してください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/12.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１３　この状態で更新のボタンを押すと、あなたの動画が世界に公開されます。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/13.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１４　トップページに戻ると、新着動画の一番上にあなたの動画が現れます。全世界の人があなたの動画を見ることができる状態になっています。自分の名前をクリックしてみましょう。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/14.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１５　あなたの動画の詳細画面が現れます。あなたのFacebookのユーザー写真をクリックするとあなたのプロフィールが現れます。下にスワイプしてみましょう。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/15.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１６　あなたが入力した動画のタイトルと内容が現れます。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/16.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">












<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;" id="movie"><br><br>１７　ここからは動画を掲載する学生をスカウトする企業の担当者様にもこちらのサイトのご利用方法についてご説明いたします。動画を掲載する学生の方も引き続きお読みください。このサイトを下にスワイプしてください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/1.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">


<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１８　新着動画が現れるので、動画のボタンから動画を見ていただき、気に入った場合、こちらの名前のボタンを押します（この場合であれば菅野祐輔）<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/14.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>１９　動画を見てスカウトしたいと思ったらメッセージを送るのボタンを押してメッセージを送りましょう。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/17.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２０　早速メッセージを入力しいきます。メッセージ欄にメッセージを入力後、Sendのボタンを押してください<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/19.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２１　Sendのボタンを押すと、メッセージを送った自分のFacebookのプロフィール画像、名前、送ったメッセージが現れます。これで動画を投稿した方へメッセージを送ることができました。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/20.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２２　送られてきたメッセージはトップページの上の三本線を押すと現れるメッセージの項目から確認ができます。早速メッセージのボタンを押してみましょう。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/21.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２３　メッセージ一覧で、メッセージが届いていることが確認できます。こちらのメッセージを送っていただいた方のプロフィール画像、名前、メッセージいずれかをクリックしてください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/22.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２４　クリックすると、いただいたメッセージに対して返信することができます。いただいたメッセージに対して返信をしましょう。なるべく早く返信をお願いします。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/23.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２５　返信をすると、さらに返信が返ってきます。企業の方と会う日が決まると、次は企業の方と面接です。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/24.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２６　面接が終わり、無事採用されたら、お祝い金の申請をお願いします。採用お祝い金として一万円送金いたします。採用されたのでお祝い金を申請するのボタンを押してください。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/25.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

<h4 class="section-subheading" style="text-align:center; width:90%; margin-left: auto; margin-right:auto; display:block;"><br><br>２７　ボタンを押すと、この画面が現れます。お祝い金の申請後、弊社のものが採用した企業に対して電話で確認をし、マッチング手数料をいただいたのち、弊社のものがユーザの皆様に送金先の銀行口座情報を確認をさせていただき、その手数料の中から採用お祝い金として、一万円を送金させていただきます。<br><br><br></h4>

<img src="https://s3-ap-northeast-1.amazonaws.com/stufun/Flow+of+use/26.jpg" style="width:50vh; margin-left: auto; margin-right:auto; display:block;">

